<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> 

	<script src="script.js"></script>
</head>

<body ng-app="brapp" ng-controller="ctrlr">
<h1 ng-repeat="b in bras">{{b}}</h1> 


<table class="table">
	<tr>
		<td><!--img of bra--></td>
		<td><!--wear count--></td>
		<td>
			<span class="glyphicon glyphicon-plus" id="incWear"></span>
		</td>
		<td>
			<span class="glyphicon glyphicon-minus" id="decWear"></span>
		</td>
		<td>
			<span class="glyphicon glyphicon-refresh" id="reset"></span>
		</td>
	</tr>
</table>


</body>
</html>